.boxed-btn, 
input[type="submit"], 
button[type="submit"], 
.slicknav_btn, 
.slicknav_nav .slicknav_row:hover, 
.slicknav_nav a:hover, .boxed-btn, 
input[type="submit"], 
button[type="submit"], 
.case-study-tablecell, 
.owl-carousel .owl-dots button.active,
.active .testimonial-text,
.testimonial-text::after,
.website-check-form input[type="submit"], .website-check-form button[type="submit"], .video-play-btn,
.theme-2 .case-study-tablecell::after,.cta-area.theme-3 .boxed-btn {background: #27ae60;}

.single-service-box:hover,
.single-pricing-box:hover, 
.single-pricing-box:hover .pricing-heading,
.email-subscribe-form input[type="submit"]  {border-color: #27ae60;}

.single-service-box:hover i, 
.pricing-count,
.single-service-box:hover a.service-readmore-btn, 
.single-service-box:hover h3, 
.single-service-box:hover i {color: #27ae60;}